<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="x2DWorldK.Droid" android:versionName="0.81" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="28" android:targetSdkVersion="31" />
	<application android:label="2DWorldK" android:icon="@drawable/Splash"></application>
</manifest>