<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MGXShaderTest.Droid" android:versionName="0.8" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="28" android:targetSdkVersion="30" />
	<application android:icon="@drawable/Icon" android:label="MGXShaderTest"></application>
</manifest>