<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MGXShaderTest.Maui" android:versionName="0.91" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="33" />
	<application android:label="MGXShaderTest" android:icon="@drawable/icon"></application>
</manifest>